<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Login & Registration</title>
</head>
<body>    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}     
    <h1 class="shadow p-3 mb-5 bg-body rounded">Recipe Share</h1>
    <div class="container_login">   
        <div class="left-column">
            <h2>Register</h2>
            <form action="/register", method="POST">
                <p>First Name: <input name="first_name" type="text"></p>
                <p>Last_name: <input name="last_name" type="text"></p>
                <p>Email: <input name="email" type="email"></p>
                <p>Password: <input name="password" type="password"></p>
                <p>Confirm PW: <input name="confirm_password" type="password"></p>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="right-column">
            <h2>Login</h2>
            <form action="/login" method="POST">
                <p>Email: <input type="email" name="email"></p>
                <p>Password: <input type="password" name="password"></p>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>



