<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>User for Counter</title>
</head>
<body>
    <div class="container">
        <div class="border">
            <form action="/user" method="POST">
                <div class="user_name">
                    <h3>Name:<input type="text" name="name"></h3>
                </div>
                <div class="user_submit">
                    <button type="submit">Click Me</button>
                </div>
            </form>
        </div>
        
    </div>
</body>
</html>