* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

.container_login {
    display: flex;
    margin-top: 50px;
    padding: 30px;
}

.left-column,
.right-column {
    flex: 1;
    padding: 15px;
}

.right-column {
    margin-left: 20px;
}

button {
    box-shadow: 3px 4px 5px black;
}

button:hover {
    box-shadow: 0px 0px 0px white;
    font-weight: normal;
}

.top_bar {
    display: flex;
    justify-content: space-between;
}

.a_links {
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.calendar {
    display: flex;
}

.calendar img {
    margin: 10px;
}

.content {
    border: 2px solid black;
    width: 500px;
    height: 500px;
}

img {
    position: relative;
    bottom: 11px;
}