<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Dojo Survey</title>
</head>

<body>
    <div class="container">
        <div class="fill_out">
            <form action="/process" method="POST">
                <p>Your Name: <input type="text" name="name"></p>
                <p>Dojo Location: <select name="location">
                        <option value="San Jose">San Jose</option>
                        <option value="Chicago">Chicago</option>
                        <option value="Los Angeles">Los Angeles</option>
                        <option value="New York">New York</option>
                    </select>
                </p>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Favorite Language:</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="language" id="gridRadios1" value="Python" checked>
                            <label class="form-check-label" for="gridRadios1">
                                Python
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="language" id="gridRadios2" value="JAVA">
                            <label class="form-check-label" for="gridRadios2">
                                JAVA
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="language" id="gridRadios2" value="MERN">
                            <label class="form-check-label" for="gridRadios2">
                                MERN
                            </label>
                        </div>
                    </div>
                <!-- <p>Favorite Language: <select name="language">
                        <option value="Python">Python</option>
                        <option value="JAVA">Java</option>
                        <option value="MERN">Mern</option>
                    </select>
                </p> -->
                <p>Comment (optional)</p>
                <textarea name="comments" id="" cols="50" rows="8"></textarea>
                <div class="submit">
                    <button type="submit">Submit</button>
                </div>

            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
</body>

</html>



