* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    margin: 0 auto;
    width: 1000px;
}

h1 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.boxes {
    gap:15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box {
    border: 2px solid black;
    box-shadow: 3px 4px 8px black;
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

