<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Login and Registration</title>
</head>
<body>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <h1>Login & Registration</h1>
    <h2>Login</h2>
    <form action="/login", method="POST">
        <p>Email: <input name="email" type="email"></p>
        <p>Password: <input name="password" type="password"></p>
        <button type="submit">Login</button>
    </form>
    <h2>Registration</h2>
    <form action="/register", method="POST">
        <p>First Name: <input name="first_name" type="text"></p>
        <p>Last_name: <input name="last_name" type="text"></p>
        <p>Email: <input name="email" type="email"></p>
        <!-- <p>Birthday: <input name="birthday" type="date"></p> -->
        <p>Password: <input name="password" type="password"></p>
        <p>Confirm Password: <input name="confirm_password" type="password"></p>
        <button type="submit">Register</button>
    </form>


</body>
</html>


